/* General Reset */
body {
  background: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Profile Container */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Ensures the container takes full width */
  padding: 0 20px; /* Adds some padding around the container */
}

/* Profile Card */
.profile-card {
  background: transparent;
  color: whitesmoke;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0px 1px 8px grey;
  text-align: center;
  padding: 30px;
  width: 80%; /* Set the width to 80% or whatever you prefer */
  max-width: 300px; /* Maximum width to prevent it from getting too large */
  margin: 0 auto; /* Centers the card horizontally */
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid orangered;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  color: whitesmoke;
  margin-bottom: 5px;
}

#extraInfo p {
  margin: 10px 0;
  color: whitesmoke;
}
