<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'forgetpassword.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="left">
                <h1>Forgot Password</h1>
                <p>Enter your email and we'll send you a link to reset your password.</p>
                <form>
                    <div class="input-group">
                        <input type="email" placeholder="Email Address" required>
                        <i class='bx bxs-envelope'></i>
                    </div>
                    <!-- <p class="error-message">We cannot find your email.</p> -->
                    <button type="submit">Submit</button>
                    <a href="login.html" class="back-link">← Back to Login</a>
                </form>
            </div>
            <div class="right">
                <img src="{% static 'images/forgot-password.png' %}" alt="Warning Icon" />
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
</body>
</html>
