<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipient Login</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url("{% static 'images/cropplate.jpg' %}"); no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        
    }
</style>
</head>
<body>
    <div class="wrapper">
        <form id="loginForm" method = "POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <h1>Recipient Login</h1>
            <div class="input-box">
                <input type="username" id="username" placeholder="Username" required>
                <i class='bx bxs-user-pin'></i>
            </div>
            <div class="input-box">
                <input type="password" id="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="forgetpassword.html">Forgot password</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="divider">
                <hr><span>or</span><hr>
            </div>
            <button type="button" class="google-btn">
                <i class='bx bxl-google'></i> Login with Google
            </button>
            <div class="register-link">
                <p>Don't have an account? <a href="signup.html">Signup</a></p>
            </div>
        </form>
    </div>

    <script src="{% static 'js/recipientlogin.js' %}"></script>
</body>
</html>
